.login-container {
  background-image: url(../images/login-background.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
.login-container .aside-right {
  height: 100vh;
  background-color: #ffffff;
  width: 30%;
}
.login-container .aside-right h3 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(66, 210, 242);
  text-align: center;
  margin-top: 40px;
}
#login-form {
  padding: 20px;
}
.login-container .aside-right .form-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-container .aside-right span {
  color: rgb(235, 35, 208);
  cursor: pointer;
}
@keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: aqua;
  }
}
.login-container .aside-right .header .nn {
  font-size: 40px;
  font-weight: bold;
  animation: my 300ms infinite;
}
